extends layout

block content
	.center.big
		img.small(src="img/graphic.png")
		h2 Built for our Lord
		ul.built
			li: a(href="https://github.com/nergmada/The_Chronicles_Of_Bevis") 
				h3 The Chronicles Of Bevis
				p A new 2D top down story based RPG from the highest growth brand of 2016... BEVIS!
