@import '_settings'

normalize-css()
base()

body
  padding: 50px
  background: #F9D041

.center 
	width: 30vw
	display: block
	margin: 0 auto
	
.center.big
	width: 40vw

img
	width: 60%;
	display: block;
	margin: 0 auto;
	margin-bottom:20px;

img.small 
	width: 20%;

a,
h2
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-top: 2em;
	font-family: 'Alfa Slab One', cursive;
	letter-spacing: 0.05em;
	font-size: 1.25em;
	
h2
	margin-bottom: 2em;

ul
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	a
		font-size: 0.8rem;
		
ul.links 
	background: #222;
	padding: 20px;
	margin-top: 2em;
	a
		color: #F9D041;
	li:first-child a
		margin-top: 0;
		
ul.built li 
	border-bottom: 1px solid grey;
	p 
		margin-bottom: 2em;

ul.built li:last-child 
	border-bottom: 0;


img.banterhack
	width: 100%;
	margin-top: 3rem;